<div class="main">
  <div class="word-page">
    <div class="Mauss-Form-Title page">
      My Address
    </div>
    <div class="page">
      <div class="Mauss-Description">
        qweedffasasdasdffasdff d asdv fvgadsf gads fadf g sdfg sdf gsdefg
      </div>
      <div class="form-group">
        <div class="Mauss-label" for="firstName">Street</div>
        <input class="Mauss-input" type="text" [formControl]="addressForm.controls['street']"
          placeholder="Enter your street name" /><br>
        <div *ngIf="submitted && f.street.errors">
          <div class="Mauss-error" *ngIf="f.street.errors.required">street name is required</div>
        </div>
        <br>
        <div class="form-group">
          <div class="Mauss-label" for="town">Suburb</div>
          <input class="Mauss-input" type="text" [formControl]="addressForm.controls['town']"
            placeholder="Enter your town name" /><br>
          <div *ngIf="submitted && f.town.errors">
            <div class="Mauss-error" *ngIf="f.street.town.required">town name is required</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="Mauss-label" for="town">City</div>
          <input class="Mauss-input" type="text" [formControl]="addressForm.controls['city']"
            placeholder="Enter your city name" /><br>
          <div *ngIf="submitted && f.city.errors">
            <div class="Mauss-error" *ngIf="f.city.errors.required">City is required</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="Mauss-label" for="town">Province/State</div>
          <input class="Mauss-input" type="text" [formControl]="addressForm.controls['province']"
            placeholder="Enter your province/state name" /><br>
          <div *ngIf="submitted && f.province.errors">
            <div class="Mauss-error" *ngIf="f.province.errors.required">Province/State is required</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="Mauss-label" for="town">Country</div>
          <input class="Mauss-input" type="text" [formControl]="addressForm.controls['country']"
            placeholder="Enter your country" /><br>
          <div *ngIf="submitted && f.country.errors">
            <div class="Mauss-error" *ngIf="f.country.errors.required">country is required</div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="Mauss-label" for="town">Postal Code</div>
          <input class="Mauss-input" type="text" [formControl]="addressForm.controls['postalcode']"
            placeholder="Enter your postalcode" /><br>
          <div *ngIf="submitted && f.postalcode.errors">
            <div class="Mauss-error" *ngIf="f.postalcode.errors.required">postalcode is required</div>
          </div>
        </div>
        <br>
        <div class="form-group">
            <button style="width: 100%;" mat-button class="Mauss-Button  mat-raised-button"
                (click)="save()">Submit</button>            
        </div>
      </div>
    </div>
  </div>