<div class="main" (window:resize)="onResize()">
  <div class="word-page">
    <div class="grid-container">
      <div class="picture">
        <div *ngIf="firstProduct">
          <img #mainImage *ngIf="firstProduct.imageName.indexOf('mp4') === -1" class="first-picture"
            [src]="getImage(firstProduct)" />
        </div>
      </div>
      <div class="description" *ngIf="firstProduct">
        <div *ngIf="firstProduct" class="Mauss-Form-sub-Title">
          Inspired by {{firstProduct.description}}
        </div>
        <div class="Mauss-Description" [innerHTML]="firstProduct.summary"></div>
        <div class="Mauss-Description">
            All Mauss mobiles are made in South Africa using merino wool felt appliqué from Europe and New Zealand with
            a custom wooden structure and macramé rope with a metal loop.  Each mobile arrives boxed and beautifully
            packaged and can be personalised as a gift.<br /><br />
            As each Mauss mobile is handmade to order, please check the current lead time for dispatch on the FAQs page.
        </div>

      </div>
      <div class="product-detail buttons">
        <div class="order">
          <button [routerLink]="['/home/order', selectProductId]" class="Mauss-Button mat-raised-button"
            (click)="placeOrder()">Place order</button>
        </div>
        <div class="customize">
          <button class="Mauss-Button mat-raised-button" (click)="addWish()">
            <span class="icon-heart"></span>&nbsp;Add to my wishlist
          </button>
        </div>
        <div class="wishlist">
          <div class="social-container-footer">
            <!-- <fb-like></fb-like> -->
            <app-facebook layout="standard" width="{{screenSize}}"></app-facebook>
            <!-- <a href="https://www.facebook.com/maussdesigns" target="_new">
                <span class="icon-facebook"></span>
              </a>
              <a href="https://www.instagram.com/maussdesigns/?hl=en" target="_new">
                <span class="icon-instagram"></span>
              </a>
              <span class="icon-pinterest2"></span> -->
            <br><br>
          </div>
        </div>
      </div>
      <div class="photo">
        <ul>
          <li *ngFor="let product of products">
            <img (click)="changeImg(product)" *ngIf="product.imageName.indexOf('mp4') === -1" class="thumbnail"
              [src]="getImage(product)" />
            <video *ngIf="product.imageName.indexOf('mp4') !== -1" style="width: 90px; height: 90px;" controls>
              <source [src]="getImage(product)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>