
<div class="grid-container">
  <div class="grid-item">
      <div *ngIf="firstProduct" class="Mauss-Form-Title">
          {{firstProduct.description}}
      </div>
  </div>
  <div class="grid-item">
     
  </div>
  <div class="grid-item" *ngIf="firstProduct">  
    <img #mainImage *ngIf="firstProduct.imageName.indexOf('mp4') === -1" style="width: 300px; height: 300px;" [src]="getImage(firstProduct)" /> 
  </div>    
  <div class="grid-item" *ngIf="firstProduct">
      {{firstProduct.description}}<br />   text galore...anyway here we place lots of text, and more will be available soon.
  </div>  
  <div>
    <ul>
        <li *ngFor="let product of products">
            <img ngClick="" *ngIf="product.imageName.indexOf('mp4') === -1" style="width: 90px; height: 90px" [src]="getImage(product)" />
            <video *ngIf = "product.imageName.indexOf('mp4') !== -1"  style="width: 90px; height: 90px;" controls>
                <source [src]="getImage(product)" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </li>
    </ul>
  </div>
</div>     