<div class="main">
  <div class="word-page">
    <div class="grid-container">
      <div class="picture">
        <div *ngIf="firstProduct">
          <img #mainImage *ngIf="firstProduct.imageName.indexOf('mp4') === -1" class="first-picture"
            [src]="getImage(firstProduct)" />
        </div>
      </div>
      <div class="description" *ngIf="firstProduct">
        <div *ngIf="firstProduct" class="Mauss-Form-sub-Title">
          {{firstProduct.description}}
        </div>
        <div [innerHTML]="firstProduct.summary"></div>
        
      </div>
      <div class="product-detail buttons">
          <div class="order" *ngIf="isLoggedIn" >
            <button class="Mauss-Button mat-raised-button">Place order</button>
          </div>
          <div class="customize" *ngIf="isLoggedIn">
            <button class="Mauss-Button mat-raised-button" (click)="addWish()">
                <span class="icon-heart"></span>&nbsp;Add to my wishlist    
            </button>
          </div>
          <div class="wishlist" *ngIf="isLoggedIn">            
          </div>
          <div class="social-container-footer">
              <fb-like></fb-like>
              <!-- <a href="https://www.facebook.com/maussdesigns" target="_new">
                <span class="icon-facebook"></span>
              </a>
              <a href="https://www.instagram.com/maussdesigns/?hl=en" target="_new">
                <span class="icon-instagram"></span>
              </a>
              <span class="icon-pinterest2"></span> -->
              <br><br>
            </div>

        </div>
      <div class="photo">
        <ul>
          <li *ngFor="let product of products">
            <img (click)="changeImg(product)" *ngIf="product.imageName.indexOf('mp4') === -1" class="thumbnail"
              [src]="getImage(product)" />
            <video *ngIf="product.imageName.indexOf('mp4') !== -1" style="width: 90px; height: 90px;" controls>
              <source [src]="getImage(product)" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>