<div class="word-page">
  <div class="Mauss-Form-Title page">
    Order Detail
  </div>
  <div class="page">
    <div class="Mauss-Description">
      qweedffasasdasdffasdff d asdv fvgadsf gads fadf g sdfg sdf gsdefg
    </div>
    <div class="photo">
      <ul>
        <li *ngFor="let product of products">
          <img *ngIf="product.imageName.indexOf('mp4') === -1" class="thumbnail"
            [src]="getImage(product)" />
          <video *ngIf="product.imageName.indexOf('mp4') !== -1" style="width: 90px; height: 90px;" controls>
            <source [src]="getImage(product)" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <div class="Mauss-label" for="firstName">Comment</div>
      <textarea class="Mauss-textarea" rows="3" cols="130" type="text" [formControl]="orderForm.controls['comment']"
        placeholder="Enter comment">

          </textarea>
      <br>
    </div>
    <br>
    <div class="Mauss-label" for="firstName">3 colours here...</div>
    <div id="even" class="example-list-to" (click)="openDialog()">
      <div *ngFor="let color of selectedColor" >
        <div class="Pantone">
          <div>
            <img [src]="getImage(color)" />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="Mauss-label" for="firstName">Qty</div>
    <div class="form-group">
        <input class="Mauss-input" style="width: 56px" type="number" value="1" [formControl]="orderForm.controls['quantity']" />
    </div><br>
    <div class="form-group">
      <button style="width: 100%;" mat-button class="Mauss-Button" (click)="save(orderForm.value)">Submit</button>
    </div>

  </div>