$break-small: 320px;
$break-large: 1200px;

.left{
    float: none; 
    padding-left: 2px;
    @media screen and (min-width: $break-large) {
        float: left;
        padding-left: 40px;
      }
}
.right{
    float: none; 
    padding-right: 2px;
    @media screen and (min-width: $break-large) {
        float: right;
        padding-right: 40px;
      }
}