
.top-section{
    height: 140px;
    // border: 1px solid green;
}

.left{
    // margin-top: 140px;
    // border: 1px solid red;
    float: left; 
    padding-left: 40px;
}
.right{
    // margin-top: 140px;
    // border: 1px solid red;
    float: 
    right; padding-right: 150px;
}