$break-small: 320px;
$break-large: 1200px;

.main-page{
  padding: 20px;
  @media screen and (min-width: $break-large) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas:
      "left right"
  }
}
.left{
  grid-area: left;
    float: none; 
    @media screen and (min-width: $break-large) {
      grid-area: left;
        padding-left: 40px;
      }
}
.right{
    float: none; 
    padding-right: 2px;
    @media screen and (min-width: $break-large) {
      grid-area: right;
        padding-right: 40px;
      }
}