<div *ngIf="isLoggedIn" class="header-menu">
  <ul>
    <li>
      <a class="router-link" [routerLink]="['/home/wishlist']">
          <span class="icon-heart"></span>&nbsp;My wishlist
      </a>
    </li>
    <li>
      <a class="router-link" [routerLink]="['/home/accountdetail']">
        <span></span>My account
      </a>
    </li>
    <li>
      <a class="router-link" [routerLink]="['/home/address']">
        <span></span>My address
      </a>
    </li>
    <li>
      <a class="router-link" [routerLink]="['/home/orderlist']">
        <span></span>My orders
      </a>
    </li>
    <!-- <li>
        Hello {{userName}}<br><br>
    </li> -->
  </ul>
</div>