@import "../fonts.scss";
.header-menu {
  display: none;
  @media screen and (min-width: $break-large) {
    display: block;
    padding-top: 21px;
    font-size: 13px;
    height: 43px;
    margin-right: 667px;
  }
  ul {
    list-style: none;
    margin: 0 auto;
    white-space: nowrap;
    text-align: right;
    position: relative;
    li {
      @media screen and (min-width: $break-large) {
        display: inline-block;
        padding: 0 17px 10px 17px;
      }
    }
    @media screen and (min-width: $break-large) {
      list-style: none;
      margin: 0 auto;
      white-space: nowrap;
      text-align: right;
      // min-width: 1000px;
      position: relative;
    }
  }
}
.social-container {
  padding-top: 12px;
  font-size: 12px;
  width: 200px;
  float: right;
  span {
    padding-left: 14px;
  }
}
.router-link {
  color: #000000;
  text-decoration: none;
  padding: 15px 0 0 0;
  display: block;
}
