<a *ngIf="!isLoggedIn" class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
  Log in / Register
</a>

<div *ngIf="isLoggedIn"  class="header-menu">
    Hello {{userName}}<br><br>
  <a class="router-link">
     My wishlist &nbsp;&nbsp; <span class="icon-heart"></span>
  </a>
  <a class="router-link" [routerLink]="['/home/accountdetail']">
    <span></span>Account Details
</a>
<a class="router-link">
    <span></span>Addresses
</a>
<a class="router-link" [routerLink]="['/home/customize']">
  <span></span>Customize
</a>
<a class="router-link">
    <span></span>Orders
</a>
<a class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
  <span></span>Log out
</a>
</div>