<div *ngIf="isLoggedIn" class="header-menu">
  <ul>
    <li>
      <a class="router-link">
          <span class="icon-heart"></span>&nbsp;My wishlist
      </a>
    </li>
    <li>
      <a class="router-link" [routerLink]="['/home/accountdetail']">
        <span></span>Account Details
      </a>
    </li>
    <li>
      <a class="router-link">
        <span></span>Addresses
      </a>
    </li>
    <!-- <li>
      <a class="router-link" [routerLink]="['/home/customize']">
        <span></span>Customise
      </a>
    </li> -->
    <li>
      <a class="router-link">
        <span></span>Orders
      </a>
    </li>
    <!-- <li>
        Hello {{userName}}<br><br>
    </li> -->
  </ul>
</div>