<div class="main">
  <div class="word-page">
    <div class="Mauss-Form-Title page">
      My Wish list
    </div>
    <div class="wish">
      <div class="item" *ngFor="let product of products">
        <!-- <a class="image"matLine [routerLink]="['/home/productdetail', product.refId]" class="category-link">
          ccc
        </a> -->
            <img  (click)="gotoProductDetails('/home/productdetail', product.refId)" class="image" *ngIf="product.imageName.indexOf('mp4') === -1" [src]="getImage(product)" />
            <span  (click)="gotoProductDetails('/home/productdetail', product.refId)" class="copy">{{product.description}}</span>
        
        <i class="material-icons delete" (click)="delete(product.refId)">
          delete_forever
        </i>
      </div>
    </div>
  </div>
</div>