@import "../fonts.scss";
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.bla-bla {
  font-size: 12px;
  margin-bottom: 12px;
}
.login {
  width: 340px;
  @media screen and (min-width: $break-medium) {
    width: 350px;
  }
}
