@import "../fonts.scss";
@import "../variables.scss";
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.login {
  @media screen and (min-width: $break-medium) {
    width: 350px;
  }
}

.mat-snack-bar-container {
  background: orange;
  color: #000;
  font-family: $mauss-font-main;
}
.mat-simple-snackbar {
  font-family: $mauss-font-main;
}

