@import "../fonts.scss";
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.bla-bla {
  font-size: 12px;
  margin-bottom: 12px;
}
.login {
  // width: 340px;
  @media screen and (min-width: $break-medium) {
    width: 350px;
  }
}
.mat-snack-bar-container {
  background: orange;
  color: #000;
  font-family: "segoeui";
}
.mat-simple-snackbar {
  font-family: "segoeui";
}

