<div class="Mauss-Page-Header">
  [replace with animated images...]
</div>

<div class="Mauss-Form-Title page">
  Customise
</div>

<div class="page">
  <div class="bla-bla">
    qweedffasasdasdffasdff d asdv fvgadsf gads fadf g sdfg sdf gsdefg
  </div>
  <div class="form-group">
      <div class="Mauss-label" for="username">Please choose your theme*</div>
      <input class="Mauss-input" type="text"  placeholder="Enter your theme" [formControl]="customizeForm.controls['theme']" />
      <div *ngIf="submitted && f.theme.errors">
          <div class="Mauss-error" *ngIf="f.theme.errors.required">Theme is required</div>
      </div>
  </div><br>
  <div class="form-group">
      <div class="Mauss-label" for="username">Please choose your (3) main colours</div>
      <!-- <input class="Mauss-input" type="text"  placeholder="Enter your colours" [formControl]="customizeForm.controls['color']" /> -->
      &nbsp;
      <input class="Mauss-input color-style" [(colorPicker)]="color" [style.background]="color" [formControl]="customizeForm.controls['color']"/>&nbsp;
      <input class="Mauss-input color-style" [(colorPicker)]="color1" [style.background]="color1" [formControl]="customizeForm.controls['color1']"/>&nbsp;
      <input class="Mauss-input color-style" [(colorPicker)]="color2" [style.background]="color2" [formControl]="customizeForm.controls['color2']"/>
      <div *ngIf="submitted && f.color.errors">
          <div class="Mauss-error" *ngIf="f.color.errors.required">Colour is required</div>
      </div>
  </div><br>
  <div class="form-group">
      <div class="Mauss-label" for="username">Please upload a few reference images</div>
      <input 
      id="image"
      style="display: none;"
      type="file"
      multiple
      (change)="onFileChanged($event)" 
      #fileInput /><br>    
        <div class="image-style">
            <ng-container *ngIf="filesSelected">
                <!-- <div *ngFor="let file of allFiles"> -->
                  <img *ngFor="let file of imageSrc" style="width: 100px; height: 100px; padding:3px;" src="{{file}}" id="output_image"/>
                <!-- </div> -->
              </ng-container>  
        </div><br>
        
      <button class="Mauss-Button" mat-raised-button (click)="fileInput.click()" color="primary">Select File</button>
    </div>&nbsp;<br/>
    <div class="form-group">
        <button style="width: 100%;" mat-raised-button [disabled]="loading" (click)="onSubmit()"
            class="Mauss-Button">Submit</button>
        <img *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </div><br>