@import "../fonts.scss";

.page {
  // width: 340px;
  @media screen and (min-width: $break-medium) {
    // width: 350px;
  }
}
.bla-bla {
  font-size: 12px;
  margin-bottom: 12px;
}
.image-style{
  width: 800px;
  height: 106px;
  border: 1px solid grey;
  background: #FFF;
}
.color-style{
  width: 30px; 
  height:30px;
}