<app-banner-stills></app-banner-stills>
<div class="Mauss-Form-Title-A">
      About
</div>
<div class="page">
      <div style="text-align: justify;" class="just">
            <p>Hello! My name is Jeanine and I am the creator of Mauss.</p>
            <p>A quick overview of my background – I have a Bachelor’s degree in Visual Communication and I am also a
                  full time Art Director.</p>

            <p>I have always had a deep fascination and love for design, whether it be architecture, furniture, fashion
                  or graphic design.</p>

            <p>The Mauss story began 3 years ago with the birth of my baby niece. I wanted to create a special and
                  unique heirloom piece for her, free of synthetics and mass produced themes. <br>Inspired by my mother,
                  her creativity and incredible talent with needle and thread which she passed onto me, my first mobile

                  was born!</p>

            <p>I continued further, and what started as a labour of love for my niece soon grew into a tradition that
                  saw friends, family and friends of friends reaching out for their own individual mobile, each telling
                  a

                  unique story with colourful and imaginative characters.</p>

            <p>Mauss is the embodiment of imagination, celebration of individuality and love, sharing it one mobile at

                  a time. Thank you for joining us on our journey!</p><br /><br /><br /><br /><br />
      </div>
</div>