@import "../fonts.scss";
.main {
  background: #f4f0f3 url("../../assets/MAUSS_-_Square.png") no-repeat center;
  background-size:  400px  400px;
  width: 400px;
  height: 400px;
  @media screen and (min-width: $break-medium) {
    //background: #f4f0f3 url("../../assets/MAUSS_-_Square.png") no-repeat center;
    background-size: 950px 950px;
    width: 1009px;
    height: 1009px; 
  }
}
