@import "../fonts.scss";
.main-page {
 
  img {
    max-width: 100%;
  }
  @media screen and (min-width: $break-medium) {
      img {
      max-width: 100%;
    }    
  }
}

.just{
  width: 800px;
  // padding: 80px;
  font-size: 13px;
}
