<!-- <img src="../../assets/MAUSS_-_Square.png"> -->
<br/>
<div style="text-align: center;">
      Hello! My name is Jeanine and I am the creator of Mauss.
<br /><br>
A quick overview of my background – I have a Bachelor’s degree in Visual Communication and I am<br />

also a full time Art Director.<br /><br />

I have always had a deep fascination and love for design, whether it be architecture, furniture,<br /><br />

clothing or graphic design.<br /><br />

The Mauss story began 3 years ago with the birth of my baby niece. I wanted to create a special and<br />
unique heirloom piece for her, free of synthetics and mass produced themes. Inspired by my mother,<br />
her creativity and incredible talent with needle and thread which she passed onto me, my first mobile<br /><br />

was born!<br /><br />

I continued further, and what started as a labour of love for my niece soon grew into a tradition that<br />
saw friends, family and friends of friends reaching out for their own individual mobile, each telling a<br /><br />

unique story with colourful and imaginative characters.<br /><br />

Mauss is the embodiment of imagination, celebration of individuality and love, sharing it one mobile at<br /><br />

a time. Thank you for joining us on our journey!<br />
</div>