<div class="Mauss-Form-Title page">
  My Orders
</div>
<div class="wish">
  <div class="item" *ngFor="let order of orders">
    <div class="image">
      <img [src]="getImage(order.products[0])" />
    </div>

    <div class="rest">
      <div><b>Name:</b> {{order.comment}}</div>
      <div><b>Status:</b> {{order.orderStatus}}</div>
      <div><b>Date: </b>{{order.dateCreated}}</div>
      <div><b>Qty: </b>{{order.quantity}}</div>
      <div *ngIf="order.price"><b>Price: </b>{{order.price}}</div>
      <!-- <span style="padding-top: 12px;">
                <button class="Mauss-Button mat-raised-button" (click)="delete(order.refId)">
                    Delete  
                </button>
            </span> -->
    </div>
    <div class="color">
      <img *ngIf="order.color1!=null" class="col" [src]="getImage(order.color1)" />
      <img *ngIf="order.color2!=null" class="col" [src]="getImage(order.color2)" />
      <img *ngIf="order.color3!=null" class="col" [src]="getImage(order.color3)" />
    </div>
    <!-- <i class="material-icons delete rest" (click)="delete(order.refId)">
            delete_forever
        </i> -->
  </div>
  <div class="item" *ngIf="orders && orders.length < 1">
    <span class="image"></span>
    <span class="no-data copy">No items to show</span>
  </div>
</div>