<div class="main">
  <div class="word-page">
    <div class="Mauss-Form-Title page">
      My Orders
    </div>
    <div class="wish">
      <div class="item" *ngFor="let order of orders">
        <div class="image">
            <img [src]="getImage(order.products[0])" />
        </div>
       
        <div class="rest">
            <span><b>Name:</b> {{order.comment}}</span><br />
            <span><b>Status:</b> {{order.orderStatus}}</span><br/>
            <span><b>Date: </b>{{order.dateCreated}}</span><br/>
            <!-- <span style="padding-top: 12px;">
                <button class="Mauss-Button mat-raised-button" (click)="delete(order.refId)">
                    Delete  
                </button>
            </span> -->
        </div>
        <div class="color">
            <img class="col" [src]="getImage(order.color1)" />
            <img class="col" [src]="getImage(order.color2)" />
            <img class="col" [src]="getImage(order.color3)" />
        </div>
        <!-- <i class="material-icons delete rest" (click)="delete(order.refId)">
            delete_forever
        </i> -->
      </div>
      <div class="item" *ngIf="orders && orders.length < 1">
        <span class="image"></span>
        <span class="no-data copy">No items to show</span>
      </div>
    </div>
  </div>
</div>  