$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;
$mauss-font-main: "Segui";
$menu-left-font-size: 13px;
$menu-top-font-size: 13px;
$page-title-font-size: 14px;
$page-sub-title-font-size: 13px;
$description-paragraph-font-size: 12px;
$label-font-size: 12px;
$background-color: #f4f4f4;
$button-font-size: 12px;
$no-data-color: #999;

// product

$product-main-title-font-size: 12px;
$product-sub-title-font-size: 10px;
$product-sub-title-color: #a0a0a0;
