$break-small: 370px;
$break-medium: 600px;
$break-large: 1200px;
$mauss-font-main: "segoeui";
$mauss-font-secondary: "Playfair Display";
$menu-left-font-size: 13px;
$menu-top-font-size: 13px;
$page-title-font-size: 14px;
$page-sub-title-font-size: 13px;
$description-paragraph-font-size: 12px;
$label-font-size: 12px;
$mobile-label-font-size: 10px;
// $background-color: #f9f9f9;
$background-color: rgb(245, 245, 249, 0.4);
$background-color-input: rgb(245, 245, 249, 0.8);
$button-font-size: 12px;
$no-data-color: #999;

// product

$product-main-title-font-size: 12px;
$product-sub-title-font-size: 10px;
$product-sub-title-color: #a0a0a0;
