<div class="link-menu">
    <ul class="topmenu">
        <li *ngFor="let route of routes">
            
            <ng-container *ngIf="route.item.route!=''">
                <a class=" router-link" [routerLink]="route.item.route" (click)="menuToggle()">
                    <div *ngIf="route.item.icon!=''" class="social {{route.item.icon}}"></div>
                    {{route.item.title}}
                </a>
            </ng-container>
            <ng-container *ngIf="route.item.route==''">
                <a class="router-link box" #box (click)="doTree(box)">
                    <div *ngIf="route.item.icon!=''" class="social {{route.item.icon}}" ></div>
                    {{route.item.title}}
                    <div class="expander icon-cheveron-right"></div>
                </a>
            </ng-container>


            <ul class="nested" >
                <li *ngFor="let child of route.items" class="sub-menu" (click)="menuToggle()">
                    <a class="router-link" [routerLink]="child.route">
                        <div *ngIf="child.icon!=''" class="social"></div>{{child.title}}
                    </a>
                </li>
            </ul>
        </li>
        <ng-container *ngIf="isLoggedIn">
            <li class="mobile-only" (click)="menuToggle()">
                <a class="router-link" [routerLink]="['/home/wishlist']">
                    <div class="social icon-heart"></div>My wishlist
                </a>
            </li>
            <li class="mobile-only" (click)="menuToggle()">
                <a class="router-link" [routerLink]="['/home/accountdetail']">
                    <span></span>My account
                </a>
            </li>
            <li class="mobile-only" (click)="menuToggle()">
                <a class="router-link" [routerLink]="['/home/address']">
                    <span></span>My addresses
                </a>
            </li>
            <li class="mobile-only" (click)="menuToggle()">
                <a class="router-link" [routerLink]="['/home/orderlist']">
                    <span></span>My orders
                </a>
            </li>
        </ng-container>
    </ul>
    <ul>
        <li *ngIf="!isLoggedIn" (click)="menuToggle()">
            <a class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log in / Register
            </a>
        </li>
        <li>
            <a *ngIf="isLoggedIn" class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log out
            </a>
        </li>
    </ul>
</div>