@import "../fonts.scss";
@import "../variables.scss";

.mobile-only {
  @media screen and (min-width: $break-large) {
    display: none;
  }
}
.social{
  text-align: right;
  float: left;
  width: 20px;
}
.link-menu {
  vertical-align: middle;
  background:#000;
  border-bottom-left-radius : 4px;
  border-bottom-right-radius : 4px;
  padding: 5px 0 20px 14px;
  font-size: $menu-left-font-size;
  // border-left: rgb(114, 7, 255) 6px solid;
  a {
    color: #fff;
    text-decoration: none;
  }
  @media screen and (min-width: $break-large) {
    border-radius: unset;
    background: unset;
    height: 600px;
   
    margin: 20px 0px 0px 100px;
    border-left: unset;
    a {
      color: #000;
      text-decoration: none;
    }
    .social{
      text-align: right;
      float: left;
      width: 20px;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  ul.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 21px;
    overflow: visible;
    border-bottom: 1px solid #e6e6e6;
    li {
      outline: none;
    }
   }
}

.social-container {
  padding-top: 12px;
  font-size: 12px;
  width: 200px;
  float: right;
  span {
    padding-left: 14px;
  }
}
.router-link {
  text-decoration: none;
  padding: 15px 0 0 0;
  display: block;
}
.router-link-not {
  text-decoration: none;
  padding: 15px 0 0 0;
  display: block;
  // font-weight: bold;
  cursor: default;
}
.sub-menu{
  padding-left: 8px;
}
