<div class="link-menu">
    <ul class="topmenu">
        <li *ngFor="let item of routes" [class.sub-menu]="item.submenu == true">
            <ng-container *ngIf="item.route!=''">
                <a class=" router-link" [routerLink]="item.route">
                    <div *ngIf="item.icon!=''" class="social {{item.icon}}"></div>{{item.title}}
                </a>
            </ng-container>
            <ng-container *ngIf="item.route==''">
                <a class="router-link-not" >
                    <div *ngIf="item.icon!=''" class="social {{item.icon}}"></div>{{item.title}}
                </a>
            </ng-container>

        </li>
        <ng-container *ngIf="isLoggedIn">
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/wishlist']">
                    <div class="social icon-heart"></div>My Wishlist
                </a>
            </li>
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/accountdetail']">
                    <span></span>My Account
                </a>
            </li>
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/address']">
                    <span></span>My Addresses
                </a>
            </li> 
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/orderlist']">
                    <span></span>My Orders
                </a>
            </li>
        </ng-container>
    </ul>
    <ul>
        <li *ngIf="!isLoggedIn">
            <a class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log in / Register
            </a>
        </li>
        <li>
            <a *ngIf="isLoggedIn" class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log out
            </a>
        </li>
    </ul>
</div>