@import '../fonts.scss';
.header-menu{
    vertical-align: middle; 
    height: 100%;
    padding-top: 52px;
    // padding-right: 108px;
    /*padding-left: 710px;*/
    font-size: 14px;
    a{
      color: #000000;
      text-decoration: none;
    }
  }
  .social-container {
    padding-top: 12px;
    font-size:12px;
    width: 200px;
    float: right;
    span {
      padding-left: 14px;
    }
  }
  .router-link {
    /*color: white;*/
    text-decoration: none;
    padding: 15px 0 0 0;
      display: block;
   }