<div class="link-menu">
    <ul class="topmenu">
        <!-- <li *ngFor="let item of routes" [ngClass]="{'sub-menu': item.submenu == true}">
            <ng-container *ngIf="item.route!=''">
                <a class=" router-link" [routerLink]="item.route">
                    <div *ngIf="item.icon!=''" class="social {{item.icon}}"></div>{{item.title}}
                </a>
            </ng-container>
            <ng-container *ngIf="item.route==''">
                <a class="router-link-not">
                    <div *ngIf="item.icon!=''" class="social {{item.icon}}"></div>{{item.title}}
                </a>
            </ng-container>
        </li> -->
        <li *ngFor="let route of routes" (click)="menuToggle(route)">
            <ng-container *ngIf="route.item.route!=''">
                <a class=" router-link" [routerLink]="route.item.route">
                    <div *ngIf="route.item.icon!=''" class="social {{route.item.icon}}"></div>{{route.item.title}}
                </a>
            </ng-container>
            <ng-container *ngIf="route.item.route==''">
                <a class="router-link">
                    <div *ngIf="route.item.icon!=''" class="social {{route.item.icon}}"></div>{{route.item.title}}
                </a>
            </ng-container>
            <ul *ngIf="(route.items.length > 0 && route.item.showChildren===true)">
                <li *ngFor="let child of route.items" class="sub-menu" (click)="onEvent($event)">
                    <a class="router-link" [routerLink]="child.route">
                        <div *ngIf="child.icon!=''" class="social {{child.icon}}"></div>{{child.title}}
                    </a>
                </li>
            </ul>
        </li>

        
        <ng-container *ngIf="isLoggedIn">
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/wishlist']">
                    <div class="social icon-heart"></div>My Wishlist
                </a>
            </li>
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/accountdetail']">
                    <span></span>My Account
                </a>
            </li>
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/address']">
                    <span></span>My Addresses
                </a>
            </li>
            <li class="mobile-only">
                <a class="router-link" [routerLink]="['/home/orderlist']">
                    <span></span>My Orders
                </a>
            </li>
        </ng-container>
    </ul>
    <ul>
        <li *ngIf="!isLoggedIn">
            <a class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log in / Register
            </a>
        </li>
        <li>
            <a *ngIf="isLoggedIn" class="router-link" [routerLink]="['/home/registerlogin']" routerLinkActive="active">
                <span></span>Log out
            </a>
        </li>
    </ul>
</div>