    <div class="Mauss-Form-Title page">
        Account Detail
    </div>
    <div class="page">
        <div class="Mauss-Description">
            qweedffasasdasdffasdff d asdv fvgadsf gads fadf g sdfg sdf gsdefg
        </div>
        <div class="form-group">
            <div class="Mauss-label" for="firstName">First name</div>
            <input class="Mauss-input" type="text" [formControl]="accountForm.controls['firstName']"
                placeholder="Enter your name" /><br>
            <div *ngIf="f.firstName.errors">
                <div class="Mauss-error" *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
        </div><br>
        <div class="form-group">
            <div class="Mauss-label" for="lastName">Surname</div>
            <input class="Mauss-input" type="text" [formControl]="accountForm.controls['lastName']"
                placeholder="Enter your surname" /><br>
            <div *ngIf="f.lastName.errors">
                <div class="Mauss-error" *ngIf="f.lastName.errors.required">Surname is required</div>
            </div>
        </div><br>
        <div class="form-group">
            <div class="Mauss-label" for="dateOfBirth_DD">Date of birth</div>
            <input class="Mauss-input-date" type="text" [formControl]="accountForm.controls['dateOfBirth_DD']"
                placeholder="dd" />
            <input class="Mauss-input-date" type="text" [formControl]="accountForm.controls['dateOfBirth_MM']"
                placeholder="mm" />
            <input class="Mauss-input-date" type="text" [formControl]="accountForm.controls['dateOfBirth_YYYY']"
                placeholder="yyyy" />
            <br>
        </div><br>
        <div class="form-group">
            <div class="Mauss-label" for="contactNumber">Contact number</div>
            <input class="Mauss-input" type="text" [formControl]="accountForm.controls['contactNumber']" /><br>
        </div><br>
        <div class="form-group">
            <div class="Mauss-label" for="email">E-mail</div>
            <input class="Mauss-input" type="   text" [formControl]="accountForm.controls['email']" /><br>
            <div *ngIf="f.email.errors">
                <div class="Mauss-error" *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button style="width: 100%;" mat-button class="Mauss-Button  mat-raised-button" [disabled]="loading"
                (click)="onSubmit()">Submit</button>            
        </div>
    </div>