@import "../fonts.scss";
.bla-bla {
  font-size: 12px;
  margin-bottom: 12px;
}
.account {
  width: 340px;
  @media screen and (min-width: $break-medium) {
    width: 350px;
  }
}
.banner-photo {
  background: transparent url(../../assets/banner0001.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),to(rgba(0,0,0,.7))); */
  background-image: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.7));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#b3000000",GradientType=0);
  background-color: transparent;
}
