$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;

.grid {
  padding: 10px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
  grid-gap: 10px;
  justify-items: center;
  @media screen and (min-width: $break-medium) {    
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 5px;
    justify-items: center;
  }
}

.poloriod {
  animation: fadein 1s;
  width: 260px;
  background: #fff;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  img {
    width: 260px;
    height: 260px;
  }
  video {
    width: 260px;
    height: 260px;
  }
  a {
    text-decoration: none;
  }
  @media screen and (min-width: $break-medium) {
    width: 182px;
    padding: 4px;
    img {
      width: 180px;
      height: 180px;
    }
    video {
      width: 180px;
      height: 180px;
    }
  }
}
.top-anima{
  animation: banner 30s infinite linear ;
  position: relative;
  //border: 1px solid #000;
  width: 80px;
  height: 92px;
  float: left;
}
@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

@keyframes fadein {
  from {
      opacity:0.7;
      left:-1110px; 
      top:0px;
  }
  to {
      opacity:0.7;
      // transform: rotate(360deg);
      left: 100%;
      top: 0px;
  }
}
@keyframes banner {
  0%   {left:0px; top:0px;}
  50% { left: 100%; top:0px;transform: rotate(360deg);}
  100% { left: 0px;transform: rotate(-360deg);}
}