$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;
@import "../../app/fonts.scss";
@import "../variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
  grid-gap: 10px;
  @media screen and (max-width: $break-medium) {
    // align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $break-medium) {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
    grid-gap: 25px;
    // align-items: center;
    // justify-content: center;
    margin: 0 auto;
  }
}
.headerArea {
  height: 100%;
  width: 186px;
  background: transparent url(../../assets/TopFrame.png);
  background-repeat: no-repeat;
  background-size: 1188px 186px;
  background-blend-mode: lighten;
}
.poloriod {
  position: relative;
  // animation: fadein 1s;
  width: 160px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .footer {
    display: table-cell;
    font-weight: 300;
    font-size: $product-main-title-font-size;
    vertical-align: middle;
    margin: 0;
    line-height: 17px;
    text-align: center;
    white-space: normal;
    color: #222;
    padding: 7px 12px;
    div {
      line-height: 13px;
        color: $product-sub-title-color;
        font-size: $product-sub-title-font-size;
    }
    // border-top: 1px solid #f4f4f4;
  }
  img {
    width: 160px;
    height: 160px;
  }
  video {
    width: 160px;
    height: 160px;
  }
  a {
    text-decoration: none;
  }
  @media screen and (min-width: $break-medium) {
    width: 186px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-right: 16px;
    vertical-align: top;
    display: inline-block;
    // overflow: hidden;
    border-radius: 3px;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    }

    img {
      width: 186px;
      height: 186px;
    }
    video {
      width: 186px;
      height: 153px;
    }
    .footer {
      position: relative;
      display: table-cell;
      font-weight: 300;
      font-size: $product-main-title-font-size;
      vertical-align: middle;
      margin: 0;
      line-height: 22px;
      text-align: center;
      white-space: normal;
      color: #222;
      padding: 7px 12px;
      div {
        line-height: 13px;
        color: $product-sub-title-color;
        font-size: $product-sub-title-font-size;
      }
    }
  }
}

.Like-link {
  display: none;
  position: absolute;
  font-size: 38px;
  top: 50%;
  left: 20px;
  opacity: 0.7;
}
// tot hier
.top-anima {
  animation: banner 30s infinite linear;
  position: relative;
  //border: 1px solid #000;
  width: 80px;
  height: 92px;
  float: left;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0.7;
    left: -1110px;
    top: 0px;
  }
  to {
    opacity: 0.7;
    // transform: rotate(360deg);
    left: 100%;
    top: 0px;
  }
}
@keyframes banner {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100%;
    top: 0px;
    transform: rotate(360deg);
  }
  100% {
    left: 0px;
    transform: rotate(-360deg);
  }
}
