$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
  grid-gap: 10px;
  align-items: stretch;
  @media screen and (min-width: $break-medium) {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 40px;
    align-items: stretch;
  }
}
.poloriod {
  // animation: fadein 1s;
  width: 260px;
  background: #fff;
  padding: 4px;
  // border-radius: 3px;
  text-align: center;
  img {
    width: 260px;
    height: 260px;
  }
  video {
    width: 260px;
    height: 260px;
  }
  a {
    text-decoration: none;
  }
  @media screen and (min-width: $break-medium) {
    width: 182px;
    padding: 4px;
    img {
      width: 180px;
      height: 180px;
    }
    video {
      width: 180px;
      height: 180px;
    }
  }
}

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
// @-moz-keyframes fadein { /* Firefox */
//   from {
//       opacity:0;
//   }
//   to {
//       opacity:1;
//   }
// }
// @-webkit-keyframes fadein { /* Safari and Chrome */
//   from {
//       opacity:0;
//   }
//   to {
//       opacity:1;
//   }
// }
// @-o-keyframes fadein { /* Opera */
//   from {
//       opacity:0;
//   }
//   to {
//       opacity: 1;
//   }
// }
