<div class="Mauss-Page-Header">
    <app-snow></app-snow>
  <!-- <div class="top-anima">      
      <img src="../../assets/leaves.png">
  </div> -->
</div>

<div class="Mauss-Form-Title page">
  Pépinière
</div>
<main class="grid">
  <div *ngFor="let product of (products | filter: searchText)">
    <div class="poloriod">
      <a [routerLink]="['/home/productdetail', product.refId]" class="category-link">
        <img *ngIf="product.imageName.indexOf('mp4') === -1" [src]="getImage(product)" />
        <video *ngIf="product.imageName.indexOf('mp4') !== -1" controls>
          <source [src]="getImage(product)" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <mat-grid-tile-footer>
          {{product.description}} <br />
          {{product.price}}
        </mat-grid-tile-footer>
      </a>
    </div>
  </div>
</main>