<!-- <div class="Mauss-Page-Header"> -->
  <!-- <app-snow></app-snow> -->
  <!-- <div class="headerArea">
    Gugulethu
  </div> -->
<!-- </div> -->


<div class="main">
  <div class="word-page">
    <div class="Mauss-Form-Title page">
      Pépinière de Bébé
    </div>
    <div class="grid">
      <div class="poloriod" *ngFor="let product of (products | filter: searchText)">          
        <a [routerLink]="['/home/productdetail', product.refId]" class="category-link">
          <div class="Like-link"><span class="icon-heart"></span></div>
          <img *ngIf="product.imageName.indexOf('mp4') === -1" [src]="getImage(product)" />
          <mat-grid-tile-footer class="footer">              
            {{product.description}} <br />
            <div> {{product.price}} </div>
          </mat-grid-tile-footer>
        </a>
      </div>
    </div>
  </div>
</div>