/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./app/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@font-face {
  font-family: $mauss-font-main;
  src: url("assets/fonts/segoeuil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0px;
  font-family: $mauss-font-main;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #d1d1d1;
}

@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Open Sans",
  $input: mat-typography-level(13px, 1.125, 400),
);
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core($custom-typography);

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

.Mauss-Page-Header {
  height: 20px;
  @media screen and (min-width: $break-medium) {
    height: 186px;
  }
}
.page {
  // max-width: 377px;
  padding-left: 22px;
  padding-right: 22px;

  @media screen and (min-width: $break-large) {
    // padding: 13px 40px 10px 40px;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}
.banner-page {
  padding: 0 15px 54px 15px;
  @media screen and (min-width: $break-medium) {
    padding: 40px 40px 40px 40px;
  }
}
.Mauss-Form-Title {
  font-family: $mauss-font-secondary;
  // font-weight: bold;
  font-size: $page-title-font-size;
  padding-top: 31px;
  // padding-bottom: 8px;
}
.Mauss-Form-Title-A {
  font-family: $mauss-font-secondary;
  // font-weight: bold;
  font-size: $page-title-font-size;
  // padding: 31px 40px 8px 40px;
}
.Mauss-Form-sub-Title {
  font-family: $mauss-font-secondary;
  // font-weight: bold;
  font-size: $page-sub-title-font-size;
  padding-top: 8px;
  padding-bottom: 8px;
}
.Mauss-Description {
  padding-top: 12px;
  font-size: $description-paragraph-font-size;
  margin-bottom: 12px;
}
.Mauss-Button {
  background-color: #000 !important;
  border-radius: 4px !important;
  font-family: $mauss-font-main;
  color: #fff;
  font-size: $button-font-size;
  width: 100%;
  @media screen and (min-width: $break-medium) {
    width: unset !important;
    line-height: 30px !important;
  }
}

/* Directives*/
.trigger {
  padding-top: 5px;
  margin: -30px;
}
.drop-down-indicator {
  margin: -20px;
  padding-top: 5px;
}
.show-drop-down {
  display: block;
}
.hide-drop-down {
  display: none;
}
.drop-down-layer {
  z-index: 150;
  min-width: 150px;
  position: absolute;
  background: #fff;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -moz-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -ms-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;

  transition: 150ms;
  // border-radius: 5px;
  div {
    cursor: pointer;
    padding: 10px 8px 10px 18px;
    font-size: 12px;
    &:hover {
      background: $background-color-input;
    }
    &:active {
      background: $no-data-color;
    }
  }
}
.drop-down-layer-active {
  max-height: 1000px;
  -ms-transform: perspective(400) rotate3d(0, 0, 0, 0);
  transform: perspective(400) rotate3d(0, 0, 0, 0);
  -moz-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.trigger-right {
  padding-top: 5px;
  margin-left: -23px;
}
.search-small {
  transition: width 0.5s;
  width: 80px !important;
}
.search-container {
  float: left;
  @media screen and (min-width: $break-medium) {
    float: right;
    margin-right: 6px;
  }
}
.search-large {
  transition: width 0.5s;
  width: 170px !important;
  @media screen and (min-width: $break-medium) {
    width: 300px !important;
  }
}

/*End*/
.Mauss-Button-Inverse {
  background-color: #000 !important;
  border-radius: 4px !important;
  color: #fff;
  font-family: $mauss-font-main;
  font-size: $button-font-size;
  width: 100%;
  @media screen and (min-width: $break-medium) {
    border: 1px #999;
    background-color: #fff !important;
    width: unset !important;
    color: #000;
    line-height: 30px !important;
  }
}
.Mauss-label {
  font-size: $label-font-size;
  margin-bottom: 5px;
}
.Mauss-textarea {
  height: 100px;
  border: solid 0px rgb(124, 121, 123);
  outline: none;
  padding-left: 8px;
  color: #000;
  background: $background-color-input;
  width: 98%;
  font-family: $mauss-font-main;
  font-size: 12px;
  @media screen and (min-width: $break-medium) {
    width: 219px;
    padding-left: 12px;
  }
}
.Mauss-input {
  border: solid 0px rgb(124, 121, 123);
  outline: none;
  padding-left: 8px;
  height: 30px;
  border-radius: 4px;
  color: #000;
  background: $background-color-input;
  width: 98%;
  font-family: $mauss-font-main;
  font-size: 12px;
  @media screen and (min-width: $break-medium) {
    width: 220px;
    padding-left: 12px;
  }
  &-date {
    width: 40px;
    border: solid 0px rgb(124, 121, 123);
    outline: none;
    padding-left: 8px;
    height: 30px;
    border-radius: 4px;
    color: #000;
    background: $background-color-input;
    margin-right: 4px;
    font-family: $mauss-font-main;
    font-size: 12px;
  }
}
.Mauss-error {
  padding-top: 5px;
  color: #999999;
  font-size: 10px;
  font-style: italic;
}

.word-page {
  margin: 0px auto;
  background: #fff;
  // -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
  @media screen and (min-width: $break-large) {
    min-height: 600px;
    margin: 0 0 0 0;
    background: #fff;
    // -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }
}
.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #a0a0a0;
}
.mat-simple-snackbar {
  font-family: $mauss-font-main;
}
