@import '../fonts.scss';

body {
  margin: 0px;
  background-color: var(--main-color);
}

.sidebar {
  position: relative;
  padding-top: 100px;
  /* 20px 0px 100px;*/
  text-align: center;
  &-content {
    margin: 0 auto;
    text-align: left;
    width: 120px;
  }
  &-right {
    padding: 100px 10px 0px 10px;;
  } 
  &-footer {
    // border: 1px solid green;
    position: absolute;
    bottom: 10px;
    padding-top: 30px;
    font-size:12px;
    // height: 111px;
    width: 100%;
    span {
      padding-left: 24px;
    }
  // text-align: center;
  }
}

.content {
  padding: 50px;
  min-height: 340px;
  background-color: #F4F0F3 ;
}
.content > div > a {
  padding: 0 20px 0 20px;
  cursor: pointer;
  text-decoration: none;
}
.router-link {
   /*color: white;*/
   text-decoration: none;
   padding: 5px 0 0 0;
  }

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 280px auto 200px;
  grid-template-areas:
        "sidebar content sidebar-right"
        "footer1 footer2 footer3";
  background-color: #fff;
  color: #444;       
    }

.main{
  background: #F4F0F3 url('../../assets/background_image.png');
  width: 915px;
  height: 1000px;
}
.box {
  color: #000;
}
.footer2 {
  background-color: #F4F0F3 ;
  /*background-color: #95959e;*/
  padding: 15px;
  /*color: #fff;*/
}
.social-container {
  padding-top: 12px;
  font-size:12px;
  width: 300px;
  float: right;
  span {
    padding-left: 14px;
  }
}
.extreme-footer{
  background: #f5f4f5;  
 /* width: 100%;*/
}
.social-container-footer {
  padding-top: 30px;
  font-size:12px;
  height: 111px;
  span {
    padding-left: 24px;
  }
  text-align: center;
  // width: 100%;
}
