@import "../fonts.scss";

body {
  margin: 0px;
  background-color: $background-color;
}
.header {
  padding-top: 5px;
  vertical-align: middle;
  grid-area: header;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  @media screen and (min-width: $break-large) {
    padding-top: 12px;
    padding-left: 116px;
    vertical-align: middle;
    grid-area: header;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }
}
.top-header {
  padding-top: 13px;
  font-size: 40px;
  float: left;
  display:table-cell;
  vertical-align: middle;
}

.left {
  grid-area: left;
  // text-align: center;
  @media screen and (min-width: $break-medium) {
    grid-area: left;
    position: relative;
  }
}
.middle {
  grid-area: middle;
  // transition: all .35s ease-in-out;
  min-height: 340px;

  @media screen and (max-width: $break-small) {
    min-height: 340px;
    grid-area: middle;
  }
}
.middle > div > a {
  padding: 0 20px 0 20px;
  cursor: pointer;
  text-decoration: none;
}
.router-link {
  /*color: white;*/
  text-decoration: none;
  padding: 5px 0 0 0;
  font-size: 14px;
}

.profile-pic {
  float: left;
  width: 250px;
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    float: right;
  }
}

.wrapper {
  @media screen and (min-width: $break-medium) {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto 300px;
    grid-template-areas:
      "header header"
      "left middle"
      "footer footer";
  }
  @media screen and (min-width: $break-large) {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 100px auto 300px;
    grid-template-columns: 300px auto;
    grid-template-areas:
      "header header"
      "left middle"
      "footer footer";
  }

  background-color: #f4f4f4;
  color: #444;
}

.main {
  background: #f4f0f3 url("../../assets/background_image.png");
  width: 915px;
  height: 1000px;
}
.box {
  color: #000;
}
.footer {
  grid-area: footer;
  background-color: #f4f0f3;
  /*background-color: #95959e;*/
  // padding: 15px;
  /*color: #fff;*/
}
.social-container {
  padding-top: 12px;
  font-size: 12px;
  width: 300px;
  float: right;
  span {
    padding-left: 14px;
  }
}
.extreme-footer {
  background: #f5f4f5;
  /* width: 100%;*/
}
.social-container-footer {
  a{
    color: #000;

  }
  text-decoration: none;
  background: #fff;
  padding-top: 30px;
  font-size: 12px;
  height: 111px;
  span {
    padding-left: 24px;
  }
  text-align: center;
}
