@import "../fonts.scss";

body {
  margin: 0px;
  background-color: var(--main-color);
}

.sidebar {
  padding-top: 25px;
  text-align: center;
  &-content {
    margin: 0 auto;
    padding-left: 18px;
  }
  &-right {
    text-align: center;
    padding-top: 20px;
  }
  &-footer {
    font-size: 12px;
    width: 100%;
    span {
      padding-left: 18px;
    }
    // text-align: center;
  }
  @media screen and (min-width: $break-medium) {
    position: relative;
    padding-top: 100px;
    text-align: center;
    &-content {
      margin: 0 auto;
      text-align: left;
      width: 120px;
    }
    &-right {
      padding: 100px 10px 0px 10px;
    }
    &-footer {
      // border: 1px solid green;
      position: absolute;
      bottom: 10px;
      padding-top: 30px;
      font-size: 12px;
      // height: 111px;
      width: 100%;
      span {
        padding-left: 24px;
      }
      // text-align: center;
    }
  }
  
}

.content {
  transition: all .35s ease-in-out;
  padding: 5px;
  min-height: 340px;
  background-color: #f4f0f3;

  @media screen and (max-width: $break-small) {
    padding: 50px;
    min-height: 340px;
  }
}
.content > div > a {
  padding: 0 20px 0 20px;
  cursor: pointer;
  text-decoration: none;
}
.router-link {
  /*color: white;*/
  text-decoration: none;
  padding: 5px 0 0 0;
}

.profile-pic {
  float: left;
  width: 250px;
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    float: right;
  }
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  @media screen and (min-width: $break-medium) {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 140px auto 180px;
    grid-template-areas:
      "sidebar content sidebar-right"
      "footer1 footer2 footer3";
  }
  @media screen and (min-width: $break-large) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 280px auto 200px;
    grid-template-areas:
      "sidebar content sidebar-right"
      "footer1 footer2 footer3";
  }

  background-color: #fff;
  color: #444;
}

.main {
  background: #f4f0f3 url("../../assets/background_image.png");
  width: 915px;
  height: 1000px;
}
.box {
  color: #000;
}
.footer2 {
  background-color: #f4f0f3;
  /*background-color: #95959e;*/
  // padding: 15px;
  /*color: #fff;*/
}
.social-container {
  padding-top: 12px;
  font-size: 12px;
  width: 300px;
  float: right;
  span {
    padding-left: 14px;
  }
}
.extreme-footer {
  background: #f5f4f5;
  /* width: 100%;*/
}
.social-container-footer {
  background: #FFF;
  border:1pxsolid red;
  padding-top: 30px;
  font-size: 12px;
  height: 111px;
  span {
    padding-left: 24px;
  }
  text-align: center;
  // width: 100%;
}
