<div class="wrapper">
  <div class="header">
    <!-- <div *ngIf="isConnected" class="internet-connection-on">
      On
    </div> -->
    <div *ngIf="!isConnected" class="internet-connection-off">
      Off
    </div>
    <div class="top-header">
      <mat-icon (click)="showmenu()" class="bar-menu" aria-hidden="false" aria-label="Example home icon">{{menuText}}
      </mat-icon>
      <a style="margin-left:12px;color: #000;text-decoration: none;" [routerLink]="['/home/splash']"
        routerLinkActive="active">
        <span class="icon-mauss-logo-02"></span>
      </a>
    </div>
    <div style="float: right">
      <app-user-menu></app-user-menu>
    </div>
    <!-- <input class="Mauss-input" style="width:140px;" placeholder="Search" type="text" [(ngModel)]="searchText"
      (ngModelChange)="doSearch($event)"> -->
    <br />
  </div>
  <div class="left">
    <div class="normal-menu">
      <app-link-menu [menuData]="routes"></app-link-menu>
    </div>

    <div class="mobile-menu" *ngIf="showMenu" [@slideInOut]>
      <app-link-menu [menuData]="routes" (click)="showmenu()"></app-link-menu>
    </div>
    <div class="overlay" *ngIf="showMenu" (click)="showmenu()"></div>
  </div>
  <!-- <div class="middle" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''"> -->
  <div class="middle" >
    <div class="main">
      <div class="word-page">
        <router-outlet (activate)="onActivate($event)" #o="outlet"></router-outlet>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>
      <app-subscribe></app-subscribe>
    </div>
    <div class="social-container-footer">
      <a href="https://www.facebook.com/maussdesigns" target="_new">
        <span class="icon-facebook"></span>
      </a>
      <a href="https://www.instagram.com/maussdesigns/?hl=en" target="_new">
        <span class="icon-instagram"></span>
      </a>
      <span class="icon-pinterest2"></span>
      <br><br>
      <div style="font-size: 12px;">
        Copyright &copy; Mauss-designs 2018. All rights reserved
      </div>
      <br><br>
    </div>


  </div>

</div>